# Database connection string (PostgreSQL)
# Ganti dengan user, password, host, port, dan db name PostgreSQL Anda
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pos_universal?schema=public"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="pos-universal-secret-key-change-this-in-production-2026"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
